/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  overflow-y: scroll;
}

::-webkit-scrollbar-thumb {
  background: #575757;
  border-radius: 25px;
}

.mat-dialog-container {
  border-radius: 20px !important;
}

.scrollbar {
  -moz-appearance: none !important;
}

/* buttons at two ends */
.scrollbarbutton {
  -moz-appearance: none !important;
}

/* the sliding part*/
.thumb {
  -moz-appearance: none !important;
}

.scrollcorner {
  -moz-appearance: none !important;
  resize: both;
}

/* vertical or horizontal */
.scrollbar[orient="vertical"] {
  color: silver;
}




@layer base {
  :root {
    --bg-primary: #1451DD;
    --bg-primary-light: #3498db;
    --bg-secondary: #f5f1f1;
    --bg-ternary: #FFFFFF;
    --bg-form: #ffffff;
    --bg-danger: #e74c3c;
    --bg-danger-light: #ffb8b8;
    --bg-generic-one: rgba(20, 20, 20);
    --bg-genaric-two: rgba(20, 20, 20);
    --bg-blues:#546CCE;
    --txt-primary: #383737;
    --txt-danger: #e74c3c;
    --txt-light: #ffffff;
  }

  .theme-dark {
    --bg-primary: #1731bd;
    --bg-secondary: #24292d;
    --bg-ternary: #2e2e2e;
    --bg-form: #393939;
    --bg-danger: #9a0b00;
    --bg-danger-light: #a73c3c;


    --txt-primary: #a7a5a5;
    --txt-danger: #960303;
    --txt-light: #d2d2d2;
  }
}

@layer components {

  .mat-select-panel{
    @apply bg-skin-form text-skin-primary;
  }
  .mat-option-text{
    @apply text-skin-primary bg-skin-form;
  }
  .nav-btn-multilevel {
    @apply bg-skin-secondary text-skin-light ;
  }

  .nav-btn-title {
    @apply text-skin-light flex items-center ;
  }

  .nav-btn-icon {
    @apply text-skin-light mr-3 ;
  }

  .nav-btn {
    @apply text-skin-light text-sm pl-6;
  }

  .mat-drawer-container {
    @apply bg-skin-ternary;
  }

  .form-main-bg {
    @apply flex flex-col items-center w-full min-h-full h-auto py-5 px-8 bg-skin-ternary;
  }



  .form-body {
    @apply p-2 flex flex-col h-full w-full rounded-md bg-skin-form;
  }

  .form-main-bg-1 {
    @apply flex flex-col items-center w-full  h-auto py-5 px-8 bg-skin-ternary;
  }



  .form-body-1 {
    @apply p-2 flex flex-col h-full w-full rounded-md bg-skin-form;
  }

  .form-main-bg-2 {
    @apply flex flex-col items-center w-full min-h-full h-auto py-5 px-8;
  }


  .box-wrapper{
    @apply place-items-center;
  }
  .form-body-2 {
    @apply p-2 flex flex-col h-full w-full rounded-md ;
  }

  .alert-body {
    @apply p-2 flex flex-col h-full w-full bg-skin-form overflow-hidden ;
  }

  .alert-header {
    @apply sticky w-full flex justify-between bg-skin-primaryLight p-2.5 rounded text-skin-light mb-1.5;
  }

  .alert-header-title {
    @apply flex items-center text-lg  text-skin-light ;
  }

  .alert-form-container {
    @apply w-full h-full bg-skin-form pt-3 px-10 flex flex-col justify-between rounded;
  }

  .alert-form-row {
    @apply w-full flex justify-between;
    .mat-form-field {
      @apply w-12/25 text-base text-skin-primary;
      .mat-label {
        @apply text-skin-primary bg-skin-danger;
      }

      input {
        @apply text-skin-primary;
      }
    }
  }

  .form-header {
    @apply sticky w-full flex justify-between bg-skin-primaryLight p-2.5 rounded  ;
  }

  .form-header-content {
    @apply flex w-full;
  }

  .form-header-title {
    @apply flex items-center justify-items-center text-lg  text-skin-light ;
  }
  .form-header-title2 {
    @apply text-4xl text-skin-light ;
  }


  .form-header-label {
    @apply text-skin-primary ml-1.5 bg-skin-form rounded flex justify-around px-2 py-1.5 items-center;
  }

  .form-container {
    @apply w-full bg-skin-form pt-4 px-20 flex flex-col;
  }


  .form-row {
    @apply w-full flex justify-between;
    .mat-form-field {
      @apply w-5/12 text-base;
      mat-label {
        @apply text-skin-primary;
      }

      input {
        @apply text-skin-primary;
      }
      .mat-select {
        @apply text-skin-primary bg-skin-form;
        .mat-select-panel{
          @apply text-skin-primary bg-skin-form;

        }
        .mat-option-text{
          @apply text-skin-primary bg-skin-form;
        }
      }


      .mat-radio-group {
        @apply w-5/12 text-base flex items-center;
      }
    }
  }

  .form-column {
    @apply w-full flex flex-col justify-center items-center;
    .mat-form-field {
      @apply w-4/5 text-base ;
      mat-label {
        @apply text-skin-primary;
      }

      input {
        @apply text-skin-primary;
      }
    }

    .mat-radio-group {
      @apply w-5/12 text-base flex items-center;
    }
  }

  .form-row-btn {
    @apply w-full py-5 flex justify-end items-center;
    .row-btn {
      @apply flex w-full justify-end ;
      button {
        @apply ml-2.5 text-base px-3.5 py-1.5;
      }

      #savebtn {
        @apply bg-skin-primary text-skin-light;
      }

      #cancelbtn {
        @apply bg-skin-danger text-skin-light;
      }

      #spinner {
        @apply bg-skin-primary text-skin-light;
      }
    }
  }
  .table-row-btn {
    @apply w-full py-5 flex justify-end items-center;
    .row-btn {
      @apply flex w-full justify-end ;
      button {
        @apply ml-2.5  px-3.5 py-1.5;
      }

      #savebtn {
        @apply bg-skin-primary text-skin-light;
      }

      #cancelbtn {
        @apply bg-skin-danger text-skin-light;
      }

      #spinner {
        @apply bg-skin-primary text-skin-light;
      }
    }
  }

  .form-table-action-btn {
    @apply w-auto pr-3.5 flex justify-between;
  }

  .form-table {
    @apply w-full bg-skin-form text-skin-primary;
  }

  .form-table-header {
    @apply text-skin-primary;
    strong{
      @apply text-skin-primary;
    }
  }

  .form-table-column {
    @apply text-skin-primary;
  }

  .form-table-column-INACTIVATED {
    @apply bg-skin-dangerLight;
  }

  .txt-highlight {
    @apply font-semibold;
  }

  .btn-rounded {
    @apply p-1 flex items-center justify-center rounded shadow-2xl normal-shadow;
  }

  .btn-outlined {
    @apply px-3 py-1.5 flex items-center justify-center rounded  border border-skin-primary ;
  }

  .btn-primary {
    @apply bg-skin-primary text-skin-light;
  }

  .btn-danger {
    @apply bg-skin-danger text-skin-light;
  }

  .btn-secondary {
    @apply bg-skin-ternary text-skin-primary;
  }

  .btn-action-one {
    @apply bg-skin-form
  }


}

@layer utilities {


  .outline-primary {
    border:2px solid var(--bg-ternary);
  }

  .buttonActive {
    background-color: var(--bg-primary);
  }

  .nav-header-active {
    .mat-expansion-panel-header {
      border-left: 4px solid var(--bg-primary);
    }
  }


  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  .btn-spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }

  .imageRow {
    width: 41.666667%;
    display: flex;
    justify-content: center;

    .imagePreview {
      width: 30vh;
      height: 20vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 1px solid #858585;
      border-radius: 5px;
      opacity: 0.7;

      strong {
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      mat-icon {
        font-size: 56px;
        height: 30%;
        width: 100%;
      }

      span {
        height: 28%;
        width: 80%;
      }

      input {
        display: none;
      }
    }

    #front-pic, #back-pic {
      display: none;
    }

    .pic-lable {
      padding: 3% 7%;
      color: white;
      background-color: black;
      border-radius: 5px;
    }


    .fileUpload {
      width: 35vh;
      display: flex;
      justify-content: center;
      background-color: #242d32;
      color: white;
      align-items: center;
    }

    #pics {
      display: flex;
      justify-content: space-around;
    }


  }

  .form-header-search {
    align-items: center;
    text-align: center;

    label {
      align-items: center;
      display: flex;
      flex-direction: row;
    }

    input {
      background-color: transparent;
      border: 0;
      width: 75%;
      height: 100%;
      justify-content: space-around;
    }

    input:focus {
      outline: none;
    }
  }

  .form-header-filters {
    span {
      width: 60px;
    }

    .mat-select {
      width: 75px;
    }

    .mat-select-value, .mat-select-panel {
      color: var(--txt-primary);
      background-color: var(--bg-form);
    }
  }

  .normal-shadow {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .mat-toolbar-table {
    margin-top: 10px;
    width: 100%;

    .mat-toolbar-row {
      display: flex;
      justify-content: flex-end;

      label {
        //color: #888888;
        font-weight: normal;
        font-size: .8rem;
      }

      input {
        width: 30px;
        font-weight: normal;
        font-size: .9rem;
        height: 25px;
        border: 1px solid transparent;
        text-align: end;
        padding: 2px;
        outline: none;
        border-bottom-color: #575757;
      }

      input:focus {
        outline: none;
      }

      #spacer {
        width: 8px;
      }
    }
  }


}


